<div class="div__header">
  <h3 class="h3__small-margins h3__padding">Passwort ändern</h3>
</div>
<div class="admin-container">
  <form class="form" #f="ngForm" novalidate (ngSubmit)="changePassword(f.value)">
    <section class="section">
      <mat-form-field class="full-width">
        <input matInput placeholder="aktuelles Passwort" name="currentPassword" type="password" required
               #currentPasswordControl="ngModel" [ngModel]="currentPassword">
        <mat-hint *ngIf="!currentPasswordControl.valid" [ngStyle]="{'color': 'red'}" align="start">erforderlich
        </mat-hint>
      </mat-form-field>
    </section>
    <section class="section">
      <mat-form-field class="full-width">
        <input matInput placeholder="neues Passwort" name="password" type="password" #passwordControl="ngModel"
               [ngModel]="password" required validateEqual=confirmPassword reverse="true" minlength="8"
               password [digitCharacter]="1" [lowercaseCharacter]="1" [uppercaseCharacter]="1">
        <mat-hint *ngIf="!passwordControl.valid" [ngStyle]="{'color': 'red'}" align="start">Klein & Gross & Zahl, mind.
          8 Zeichen
          Zeichen
        </mat-hint>
      </mat-form-field>
    </section>
    <section class="section">
      <mat-form-field class="full-width">
        <input matInput placeholder="Passwort wiederholen" name="confirmPassword" type="password"
               #confirmPasswordControl="ngModel" [ngModel]="confirmPassword" required validateEqual=password>
        <mat-hint *ngIf="!confirmPasswordControl.valid" [ngStyle]="{'color': 'red'}" align="start">Passwörter sind nicht
          identisch
        </mat-hint>
      </mat-form-field>
    </section>
    <div class="button-row">
      <span class="fill-remaining-space"></span>
      <button mat-button type="submit" [disabled]="!f.valid" class="grayButton">Passwort ändern</button>
    </div>
  </form>
  <p>{{message}}</p>
  <app-my-spinner [isRunning]="busy" [delay]="150"></app-my-spinner>
</div>
