<div color="primary" class="div__headermenu">
  <button mat-button class="button" (click)="onHome()">Home</button>
  <h3 class="h3--left-right-margins">Info</h3>
  <button mat-button class="button" (click)="onRegistration()">Anmeldung</button>
  <button mat-button class="button" (click)="onTeam()">Kontakt</button>
</div>
<div class="info-container">
  <h2>Einleitung</h2>
  <p>Das Pfingstlager wird von einem <a [routerLink]="['/team']">Team</a> aus der (<a href="http://www.besj.ch">BESJ</a>)-Region
    93 organisiert. Alle Jungschar- und Ameisli Gruppen aus dem oberen Baselbiet, welche dem BESJ angeschlossen sind,
    gehören zu unserer Region. Unsere <a href="https://besj.ch/ueber-uns/Glaubensbekenntnis.php">Glaubensgrundlage</a> ist
    auf der Verbandswebseite zu finden.</p>
  <p> Eingeladen für das Pfila sind alle Kinder der oben erwähnten Gruppen, sowie Kinder, die keiner Gruppe angehören.</p>
  <h2>Thema</h2>
  <p>Wie hören und erleben die biblische Geschichte von der Verschleppung vom Volk Israel nach Babylon.</p>
  <h2>Ort</h2>
  <p>Der Pfila Lagerplatz liegt nördlich von Anwil.</p>
  <h2>Datum</h2>
  <ul>
    <li>Das Pfila findet vom 18. - 20. Juni 2024 statt. Wir übernachten die beiden Nächte im Zelt.</li>
    <li>Am Sonntagnachmittag findet ein Spielnachmittag statt. Ameisli und Jungschärler die nicht am Pfila teilnehmen, sind dafür herzlich eingeladen.</li>
  </ul>
  <h2>Altersgrenzen</h2>
  <ul>
    <li>Jungschärler: Kinder zwischen 8-14 Jahren *</li>
    <li>Ameisli: Kinder ab 5 Jahren *</li>
    <p>* Die Altersangaben der einzelnen Gruppen können abweichen und sind jeweils verbindlich.</p>
  </ul>
  <h2>Kosten</h2>
  <ul>
    <li>Jungschärler: CHF 80.- (Geschwisterkinder zahlen CHF 60.-)</li>
    <li>Teilnahme nur am Spielnachmittag: kostenlos</li>
  </ul>
  <h2>Anmeldeschluss</h2>
  <p>Der Anmeldeschluss ist der Samstag, der <b>4. Mai 2024</b>.</p>
  <h2>Anmeldung</h2>
  <p>Du kannst dich <a [routerLink]="['/registration']">hier online</a> oder bei deinen Jungschi / Ameisli Leitern
    anmelden.</p>
  <h2>Weitere Informationen</h2>
  <p>Detailierte Informationen zum Pfila werden dir nach dem Anmeldeschluss per E-Mail oder per Post versandt.</p>
</div>
