<div color="primary" class="div__headermenu">
  <button mat-button class="button" (click)="onHome()">Home</button>
  <h3 class="h3--left-right-margins">Info</h3>
  <button mat-button class="button" (click)="onRegistration()">Anmeldung</button>
  <button mat-button class="button" (click)="onTeam()">Kontakt</button>
</div>
<div class="info-container">
  <h2>Einleitung</h2>
  <p>Das Pfingstlager wird von einem <a [routerLink]="['/team']">Team</a> aus der (<a href="http://www.besj.ch">BESJ</a>)-Region
    93 organisiert. Alle Jungschar- und Ameisli Gruppen aus dem oberen Baselbiet, welche dem BESJ angeschlossen sind,
    gehören zu unserer Region. Unsere <a href="https://besj.ch/ueber-uns/Glaubensbekenntnis.php">Glaubensgrundlage</a> ist
    auf der Verbandswebseite zu finden.</p>
  <p> Eingeladen für das Pfila sind alle Kinder der oben erwähnten Gruppen, sowie Kinder, die keiner Gruppe angehören.</p>
  <h2>Thema</h2>
  <p>Wie hören und erleben biblische Geschichten aus der Zeit der Könige.</p>
  <h2>Ort</h2>
  <p>Der Pfila Lagerplatz liegt südlich von Maisprach auf dem Breitfeld.</p>
  <h2>Datum</h2>
  <ul>
    <li>Das Pfila findet vom 04. - 06. Juni 2022 statt. Wir übernachten die beiden Nächte im Zelt.</li>
    <li>Die Ameisli sind am Sonntag (05. Juni 2022) mit dabei.</li>
  </ul>
  <h2>Altersgrenzen</h2>
  <ul>
    <li>Jungschärler: Kinder zwischen 8-14 Jahren *</li>
    <li>Ameisli: Kinder ab 5 Jahren *</li>
    <p>* Die Altersangaben der einzelnen Gruppen können abweichen und sind jeweils verbindlich.</p>
  </ul>
  <h2>Kosten</h2>
  <ul>
    <li>Jungschärler: CHF 60.-</li>
    <li>Ameisli: CHF 15.-</li>
  </ul>
  <h2>Anmeldeschluss</h2>
  <p>Der Anmeldeschluss ist der Samstag, der <b>14. Mai 2022</b>.</p>
  <h2>Anmeldung</h2>
  <p>Du kannst dich <a [routerLink]="['/registration']">hier online</a> oder bei deinen Jungschi / Anmeisli Leitern
    anmelden.</p>
  <h2>Weitere Informationen</h2>
  <p>Detailierte Informationen zum Pfila werden dir nach dem Anmeldeschluss per E-Mail oder per Post versandt.</p>
</div>
