[Unit]
Description=Pfila Server service
After=node-set-cab.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=davidl
Environment=NODE_ENV=production PORT_HTTP=5001 PORT=5002
WorkingDirectory=/home/alixon/usr/davidl/website/pfila-int/run/server
ExecStart=/usr/bin/npm run start

[Install]
WantedBy=multi-user.target
