@keyframes slidy {
  0% { left: 0%; }
  14% {left: 0%}
  16% {left: -100%}
  28% {left: -100%}
  30% { left: -200%; }
  42% { left: -200%; }
  44% { left: -300%; }
  56% { left: -300%; }
  58% { left: -400%; }
  70% { left: -400%; }  
  72% { left: -500%; }
  84% { left: -500%; }  
  86% { left: -600%; }
  98% { left: -600%; }  
}

body { margin: 0; }
div#slider { overflow: hidden; }
div#slider figure img { width: 14.28%; float: left; }
div#slider figure {
  position: relative;
  width: 700%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 20s slidy infinite;
}

.button {
  padding: 0 1em 0 1em;
  margin: 0;
  min-width: 0;
}
