@keyframes slidy {
  0% { left: 0%; }
  15% {left: 0%}
  20% {left: -100%}
  35% {left: -100%}
  40% { left: -200%; }
  55% { left: -200%; }
  60% { left: -300%; }
  75% { left: -300%; }
  80% { left: -400%; }
  95% { left: -400%; }
}

body { margin: 0; }
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 20s slidy infinite;
}

.button {
  padding: 0 1em 0 1em;
  margin: 0;
  min-width: 0;
}
