<div color="primary" class="div__headermenu">
   <h3 class="h3--left-right-margins">Home</h3>
   <button mat-button class="button" (click)="onInfo()">Info</button>
   <button mat-button class="button" (click)="onRegistration()">Anmeldung</button>
   <button mat-button class="button" (click)="onTeam()">Kontakt</button>
</div>
<div id="slider">
   <figure>
      <img src="assets/img/img4-1920.jpg" alt="img4" srcset="assets/img/img4-0400.jpg 650w,
            assets/img/img4-0600.jpg 950w,
            assets/img/img4-1000.jpg 1500w,
            assets/img/img4-1920.jpg 20000w">
      <img src="assets/img/img1-1920.jpg" alt="Img1" srcset="assets/img/img1-0400.jpg 650w,
            assets/img/img1-0600.jpg 950w,
            assets/img/img1-1000.jpg 1500w,
            assets/img/img1-1920.jpg 20000w">
      <img src="assets/img/img2-1920.jpg" alt="Img2" srcset="assets/img/img2-0400.jpg 650w,
            assets/img/img2-0600.jpg 950w,
            assets/img/img2-1000.jpg 1500w,
            assets/img/img2-1920.jpg 20000w">
      <img src="assets/img/img3-1920.jpg" alt="Img3" srcset="assets/img/img3-0400.jpg 650w,
            assets/img/img3-0600.jpg 950w,
            assets/img/img3-1000.jpg 1500w,
            assets/img/img3-1920.jpg 20000w">
      <img src="assets/img/img4-1920.jpg" alt="Img4" srcset="assets/img/img4-0400.jpg 650w,
            assets/img/img4-0600.jpg 950w,
            assets/img/img4-1000.jpg 1500w,
            assets/img/img4-1920.jpg 20000w">
      <img src="assets/img/img5-1920.jpg" alt="Img5" srcset="assets/img/img5-0400.jpg 650w,
            assets/img/img5-0600.jpg 950w,
            assets/img/img5-1000.jpg 1500w,
            assets/img/img5-1920.jpg 20000w">
      <img src="assets/img/img6-1920.jpg" alt="Img6" srcset="assets/img/img6-0400.jpg 650w,
               assets/img/img6-0600.jpg 950w,
               assets/img/img6-1000.jpg 1500w,
               assets/img/img6-1920.jpg 20000w">
   </figure>
</div>