<mat-sidenav-container fullscreen>
  <header class="header">
    <button mat-icon-button (click)="sidenav.open()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="header">
      Pfila 2024
    </h1>
  </header>

  <mat-sidenav mode="over" #sidenav>
    <mat-toolbar class="toolbar__header">Menu
    </mat-toolbar>
    <mat-list>
      <a mat-list-item [routerLink]="['/home']" (click)="sidenav.close()">
        <mat-icon matListItemIcon>home</mat-icon>
        <span matListItemTitle>Home</span>
        <span matListItemLine>Home</span>
      </a>
      <a mat-list-item [routerLink]="['/info']" (click)="sidenav.close()">
        <mat-icon matListItemIcon>info</mat-icon>
        <span matListItemTitle>Info</span>
        <span matListItemLine>Infomationen zum Pfila</span>
      </a>
      <a mat-list-item [routerLink]="['/registration']" (click)="sidenav.close()">
        <mat-icon matListItemIcon>grade</mat-icon>
        <span matListItemTitle>Anmeldung</span>
        <span matListItemLine>für Ameisli, Jungschärler & Leiter</span>
      </a>
      <a mat-list-item [routerLink]="['/team']" (click)="sidenav.close()">
        <mat-icon matListItemIcon>people</mat-icon>
        <span matListItemTitle>Kontakt</span>
        <span matListItemLine>Verantwortliches Team</span>
      </a>
      <div class="menu__separator"></div>
      <a mat-list-item [routerLink]="['/admin']" (click)="sidenav.close()">
        <mat-icon matListItemIcon>arrow_forward</mat-icon>
        <span matListItemTitle>Administration</span>
        <span matListItemLine>Administrationsbereich für Leiter</span>
      </a>
    </mat-list>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>
