<div color="primary" class="div__headermenu">
  <button mat-button class="button" (click)="onHome()">Home</button>
  <button mat-button class="button" (click)="onInfo()">Info</button>
  <button mat-button class="button" (click)="onRegistration()">Anmeldung</button>
  <h3 class="h3--left-right-margins">Kontakt</h3>
</div>
<div class="card-container">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>David Leuenberger</mat-card-title>
      <mat-card-subtitle>Hauptleitung</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <br>
      <div>Adresse:</div>
      <div class="indent">Huebwisstrasse 12</div>
      <div class="indent">8117 Fällanden</div>
      <div>Mobile:</div>
      <div class="indent">078 861 36 54</div>
      <div>E-Mail:</div>
      <div class="indent">david.leuenberger(at)gmx.ch</div>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Sandra Grossmann</mat-card-title>
      <mat-card-subtitle>Regionalleitung, Anmeldungen</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <br>
      <div>Adresse:</div>
      <div class="indent">Rohrbachweg 16</div>
      <div class="indent">4460 Gelterkinden</div>
      <div>Telefon:</div>
      <div class="indent">061 981 16 04</div>
      <div>Mobile:</div>
      <div class="indent">076 667 55 27</div>
      <div>E-Mail:</div>
      <div class="indent">sandra.grossmann(at)gmx.ch</div>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Noé Bell</mat-card-title>
      <mat-card-subtitle>Verpflegung</mat-card-subtitle>
    </mat-card-header>
    <!-- <mat-card-content>
      <br>
      <div>Mobile:</div>
      <div class="indent">079 826 06 07</div>
      <div>E-Mail:</div>
      <div class="indent">noe.bell99(at)gmail.com</div>
    </mat-card-content> -->
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Oliver Leibundgut</mat-card-title>
      <mat-card-subtitle>Verpflegung</mat-card-subtitle>
    </mat-card-header>
    <!-- <mat-card-content>
      <br>
      <div>Mobile:</div>
      <div class="indent">076 417 91 91</div>
      <div>E-Mail:</div>
      <div class="indent">oliver.leibundgut(at)hotmail.ch</div>
    </mat-card-content> -->
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Michael Börlin</mat-card-title>
      <mat-card-subtitle>Finanzen</mat-card-subtitle>
    </mat-card-header>
    <!-- <mat-card-content>
      <br>
      <div>Mobile:</div>
      <div class="indent">077 441 66 04</div>
      <div>E-Mail:</div>
      <div class="indent">m.l.boerlin(at)gmail.com</div>
    </mat-card-content> -->
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Karl Wersin</mat-card-title>
    </mat-card-header>
    <!-- <mat-card-content>
      <br>
      <div>Mobile:</div>
      <div class="indent">076 819 10 05</div>
      <div>E-Mail:</div>
      <div class="indent">karl.wersin(at)freenet.de</div>
    </mat-card-content> -->
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Lovis Schläpfer</mat-card-title>
    </mat-card-header>
    <!-- <mat-card-content>
      <br>
      <div>Mobile:</div>
      <div class="indent">076 818 20 76</div>
      <div>E-Mail:</div>
      <div class="indent">lovisschlaepfer10(at)gmail.com</div>
    </mat-card-content> -->
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Aaron Grossmann</mat-card-title>
      <mat-card-subtitle>Musik</mat-card-subtitle>
    </mat-card-header>
    <!-- <mat-card-content>
      <br>
      <div>Mobile:</div>
      <div class="indent">061 981 16 04</div>
      <div>E-Mail:</div>
      <div class="indent">aaron.grossmann(at)gmx.ch</div>
    </mat-card-content> -->
  </mat-card>
</div>
