
.full-width {
  width: 100%;
}

.admin-container {
  margin: 0.5em;
}

.form {
  max-width: 500px;
  background-color: #F7F7F7;
  border-radius: 5px;
}

.grayButton {
  background: #A6BAC5;
}

.button-row {
  display: flex;
  align-items: center;
}
